* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: $fonts-poppins;
}

.container {
  margin: 0 15px;

  @include tablet {
    margin: 0 30px;
  }

  @include notebook {
    width: 1170px;
    margin: 0 auto;
  }

}
