.offer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;

  &:last-of-type{
    margin-bottom: 60px;
  }

  img {
    width: 100%;
  }

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
      font-weight: bold;
      font-size: 25px;
      margin-top: 25px;
      margin-bottom: 15px;
    }

    &_text {
      color: $color-par;
      line-height: 26px;
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      text-align: center;
      font-size: 14px;
    }

    &_more {
      display: flex;
      align-items: center;
      font-size: 14px;

      a {
        color: #42424A;
        margin-right: 12px;

      }

      &:hover{
        a, svg {
          color: $color-buttons;
        }

      }
    }
  }

  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: initial;
    }

    &_box{
      width: 340px;
    }
  }
}

@include tablet {
  .reverse {
    flex-direction: row-reverse;
  }
}